#search {
    padding-bottom: 0px;
    padding-right: 10px;
    .input-group {
        flex-wrap: nowrap;
        
    }
    input {
        width: 33ch;
        border: 1.25px solid black;
        background-color: #32c0e3;
    
    }
    button {
        color: white;
        background-color: #1c6d9c;
        border: 1.25px solid #1c6d9c;
    }
}
